// Google Font
$jp-title-font: 'Noto Sans JP',
sans-serif;
$jp-font: 'Noto Serif JP',
serif;
$en-title-font: 'PT Serif',
serif;
$en-font: 'Sora',
sans-serif;

// 初期設定
body,
html {
    height: 100%;
    margin: 0; // background:grey;
}

.row{
    margin: 0;
}

body {
    position: relative;
    right: 0;
    overflow-x: hidden;
}


// スクロールボタン
.scroll_button {
    cursor:pointer;
    position: fixed;
    bottom: 15px;
    right: 15px;
    i {
        font-size: 50px;
        opacity: 0.5;
        transition: .5;
        &:hover {
            opacity: 0.6;
        }
    }
}


@mixin container {
    padding: 30px 0;
    border-bottom: 1px solid #888888;
}

@mixin title {
    text-align: center;
    margin-bottom: 60px;
    font: {
        size: 40px;
        family: $en-title-font;
    }
    ;
}

@mixin title_icon {
    display: block;
    text-align: center;
    font-size: 55px;
    margin: 0 0 -23px;
    opacity: 0.3;
}

// メディアクエリ
$sp: 576px; // スマホ
$tb: 768px; //タブレット
@mixin sp {
    @media (max-width: ($sp)) {
        @content;
    }
}

@mixin tb {
    @media (max-width: ($tb)) {
        @content;
    }
}

/*===========================================================*/

/*　 ヘッダー　　                                            */

/*===========================================================*/

// ドロワーメニュー
#slide_menu {
    position: fixed;
    top: 0;
    right: -240px;
    width: 240px;
    height: 100%;
    background: #e8e8e8;
    opacity: 0.9;
    z-index: 9999;
    ul {
        list-style: none;
        padding: 0;
        margin: 10px 0 0;
    }
    li {
        border-bottom: 1px solid #bfbfbf;
        padding: 20px 20px;
        color: #292929;
        font: {
            size: 16px;
            family: $en-font;
        }
        cursor:pointer;
        transition:.5s;
        &:hover {
            font-size: 17px;
        }
    }
}

//ドロワーアイコン
input[type="checkbox"]:checked~#sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}

.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: fixed;
    z-index: 10000;
    height: 100%;
    width: 100%;
    top: 19px;
    right: 22px;
    height: 22px;
    width: 26px;
}

.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #000;
}

.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 5px;
}

.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}

.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 5px;
}

input[type=checkbox]:checked~.sidebarIconToggle>.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}

input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: 8px;
}

input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: -9px;
}


header {
    width: 100%;
    height: 50px;
    opacity: 0.7;
    background: #ffffff;
    position: fixed;
    top: 0;
    z-index: 10000;

    h2 {
        margin-bottom: 0;
        line-height: 50px;
        cursor: pointer;
        font-family: $en-title-font;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            cursor: pointer;
            font-family: $en-font;
            line-height: 50px;
            opacity: 0.8;
            transition: .5s;
            &:hover {
                opacity: 1;
                font-size: 17px;
            }
        }
    }
}

/*===========================================================*/

/*　 ヒーローイメージ　　                                    */

/*===========================================================*/

.hero {
    height: 100%;
    background-image: url("../img/background/hero_back_white.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div {
        text-align: center;
    }

    img {
        width: 80%;
        max-width: 700px;
    }
}

// ボタン
.btn-box {
    display: block;
    width: 170px;
    margin-top: 60px;
    margin: 60px auto -35px;
    text-align: center;
    font-size: 16px;
    font-family: $en-font;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 18px;
    position: relative;
    border: 2px solid #000000;
    transition: .5s;
    &:hover {
        border: 2px solid transparent;
        color: #000000;
        text-decoration: none;
        &:after,
        &:before {
            transform: scale(1);
            background: rgba(0, 0, 0, 0.2);
        }
    }
    &:before,
    &:after {
        width: 100%;
        height: 100%;
        z-index: 3;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
        transform: scale(0);
        transition: .2s;
    }

    &:before {
        border-bottom: 2px solid #000000;
        border-left: 2px solid #000000;
        transform-origin: 100% 0%;
    }

    &:after {
        border-top: 2px solid #000000;
        border-right: 2px solid #000000;
        transform-origin: 0% 100%;
    }
}

/*===========================================================*/

/*= 自己紹介　　                                            =*/

/*===========================================================*/

.about {
    .container {
        @include container;
        border-top: 1px solid #888888;
        margin-top: 60px;
    }
    .title_icon {
        @include title_icon;
    }
    h2 {
        @include title;

    }
    
    img {
        margin: auto;
        border-radius: 50%;
    }

    .name_title {
        display: flex;
        align-items: center;
        margin-top: 20px;
        font: {
            family: $jp-title-font;
            weight: bold;
        }
        ;

        margin-bottom: 30px;
        p{
            margin: 0;
        }

        a {
            color: #888888;
            font: {
                size: 30px;
            }
            ;
            transition:.5s;
            margin-left: 40px;
            &:hover{
                color:#1DA1F2;
            }
        }
    }

    .status_item {
        margin-bottom: 10px;
        p {
            font: {
                family: $jp-title-font;
            }
            ;
            margin: 0;
        }
    }
}

/*===========================================================*/

/*= スキル　　　                                            =*/

/*===========================================================*/

.skill {
    .container {
        @include container;

    }
    h2 {
        @include title;
    }

    .title_icon {
        @include title_icon;
    }
    .skill_items {
        width: 90%;
        margin: 0 auto;
    }
    .skill_item {
        margin-bottom: 30px;
        p {
            text-align: center;
            font:{
                family:$jp-title_font;
                size:20px;
            };
        }
        div {
            height: 130px;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 30%;
            }
        }
    }
}

/*===========================================================*/

/*= 制作実績　　                                            =*/

/*===========================================================*/

.works {
    .container {
        @include container;
    }

    h2 {
        @include title;
    }
    .title_icon {
        @include title_icon;
    }
}

// オリジナルサービス
.web_service {
    margin-bottom: 60px;
    h3 {
        margin-bottom: 40px;
        text-align: center;
        font-family:$jp-title_font;
    }
}


.service_top {
    div {
        cursor: pointer;
        width: 90%;
        margin: 0 auto 20px;
    }
    img {
        width: 100%;
        border-radius: 10px;
    }
    p {
        width: 85%;
        margin: 0 auto 0;
        font: {
            family: $jp-title-font;
        }
        ;
    }
}

.service_about {

    h4 {
        margin: 20px 0;
        font: {
            size: 28px;
            family: $en-font;
        }
        ;
    }
    p {
        margin: 0 0 10px;
        font: {
            family: $jp-title-font;
        }
    }
}

// 模写サイト
.web_site {
    h3 {
        margin-bottom: 40px;
        text-align: center;
        font: {
            family: $jp-title-font;
        }
        ;
    }
}

.site_items {
    width: 90%;
    margin: 0 auto 40px;
    div {
        padding: 0;
        cursor: pointer;
    }
    img {
        width: 100%;
    }
    ;
}

/*===========================================================*/

/*= お問い合わせ                                            =*/

/*===========================================================*/

.contact {
    .container {
        @include container;
        border: none;
        div {
            margin-bottom: 40px;
            p {
                font: {
                    family: $jp-title-font;
                }
                ;
                text-align: center;
                margin-bottom: 5px;
            }
            a {
                display: block;
                text-align: center;
            }
            i {
                margin-top: 10px;
                font-size: 50px;
                color: #1DA1F2;
                transition: .5s;
                &:hover {
                    font-size: 55px;
                }
            }
        }
    }

    h2 {
        @include title;
        margin-bottom: 20px;
    }
    .title_icon {
        @include title_icon;
    }
}

form {
    width: 60%;
    margin: 0 auto;
    p {
        text-align: center;
        margin-bottom: 1.5rem;
    }
    input {
        width: 100%;
    }
    textarea {
        width: 100%;
    }
    button {
        width: 50%;
    }
}

/*===========================================================*/

/*= フッター　　                                            =*/

/*===========================================================*/

footer {
    height: 40px;
    background: #adacac;
    p {
        font-size: 12px;
        margin-bottom: 0;
        text-align: center;
        line-height: 40px;
    }
}

/*===============================================================================*/

/*= width<768px以下の設定　　                                                   =*/

/*===============================================================================*/

@include tb {

    .skill .skill_item {
        img {
            width: 30%;
        }
        div {
            height: 120px;
        }
        margin-bottom: 20px;
    }

    .contact .container div p {
        width: 80%;
        margin: 0 auto 10px;
    }


    form {
        width: 80%;
    }

    footer {
        height: 30px;
        p {
            font-size: 10px;
            line-height: 30px;
        }
    }
}

;


/*===============================================================================*/

/*= width<576px以下の設定　　                                                   =*/

/*===============================================================================*/

@include sp {
    .about {
        img {
            width: 60%;
        }

        .about_status {
            width: 80%;
            margin: 0 auto;
        }
    }

    .service_top {
        width: 80%;
        margin: 0 auto;
        div {
            width: 100%;
        }
        p{
            width: 100%;
            margin-bottom: 20px;
        }
    }
    .service_about {
        width: 80%;
        margin: 0 auto;
    }
}
